.header{
    @apply px-40 py-6 border-b border-gray-400 font-bold text-4xl
}

.main{
    height: 100vh;
    @apply w-full flex justify-center items-center;
}

.authHeader {
    @apply py-6 px-6 border-b border-gray-300 font-semibold text-2xl text-gray-600
}

.body {
    height: 150px;
    @apply px-6 py-5 space-y-2;
    
}

.auth {
    height: 300px;
    width: 400px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.inputWrapper{
    border-radius: 3px;
    @apply border border-slate-500 flex items-center px-2 h-12;
}

.inputIcon {
    @apply text-2xl text-blue-600
}
.input {
    @apply ml-2 w-full h-full outline-none;    
}

.authBtn{
    border-radius: 3px;
    @apply w-full h-12 bg-blue-600 text-white border-none;
}

.footer {
    @apply px-6
}